EMAIL_HOST=smtp.provider.tld
EMAIL_PORT=587
EMAIL_USER=user@domain.tld
EMAIL_PASSWORD="not-a-random-password-consisting-of-32-chars-min"

SERVER_API_URI="http://localhost:3000/api/"
JWT_SECRET="supersecret"
MONGODB_URI="mongodb://localhost:27017/database?compressors=snappy"
mongodb+srv://adriansarion48:<db_password>@cluster0.xnobaxl.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
PORT=3000